
body {
    background-color: #886504;
    color: rgb(255, 255, 255);
    font-family: "DM Serif Text", serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 700px;
    margin: 0;
    main {
      text-align: center;
      max-width: 90%;
  }
      }
      button {
        background-color: #bd851f;
        color: white;
        font-family:  "DM Serif Text", serif;
      }
            
        .passo {
          display: none;
      }
      
      .passo.ativo {
          display:block;
      }
      
      main {
          text-align: center;
          max-width: 90%;
      }
    